.main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3rem;
  }
.blogItemHead{
    cursor: pointer;
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    
  }
  
.blogItemP{
    max-width: 60vw;
    
}
.blogbtn{
  background:none;
  border: none;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 700;
    font-size: 15px;
    
}
.container {
  padding: 0 2rem;
}